.title {
  color: black;
  font-style: bold;
  text-align: center;
}

.author {
  color: grey;
  font-style: italic;
  text-align: center;
}

.homeBody {
  background-color: #e0ebeb;
}

div {
  background-color: #d1e0e0;
}
