.title {
  color: black;
  font-style: bold;
  text-align: center;
}

.author {
  color: grey;
  font-style: italic;
  text-align: center;
}

.homeBody {
  background-color: #e0ebeb;
}

.titleDIV {
  background-color: #c2d6d6;
  border-style: ridge;
  border-color: #b3cccc;
  border-width: 7px;
}

section {
  background-color: inherit;
}
