.title {
  color: black;
  font-style: bold;
  text-align: center;
}

.author {
  color: grey;
  font-style: italic;
  text-align: center;
}

.homeBody {
  background-color: #a3c2c2;
}

.titleDIV {
  background-color: #c2d6d6;
  border-style: ridge;
  border-color: #527a7a;
  border-width: 20px;
}

section {
  background-color: inherit;
}
